/* The font I use (for personal use only) */
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothamBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/Gotham-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothamLight.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* The head colors */
:root {
    --primary: #321119;
    --secondary: #ED5338;
}

/* To remove default generated style */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* General code */
body {
    background-color: #121212;
}

/* html{
	height: 100vh;
    width: 100%;
} */

/* Applying the font */
h1 {
    font-family: "GothamBold", Helvetica, sans-serif;
    color: var(--primary);
    font-size: 20px;
    line-height: 22px;
    margin-top: 10px;
}

h2 {
    font-family: "GothamLight", Helvetica, sans-serif;
    color: var(--primary);
    font-size: 20px;
    line-height: 22px;
}

p {
    font-family: "GothamLight", Helvetica, sans-serif;
    color: var(--secondary);
    text-align: center;
}


/* Header */

/* SpaceX logo */
.logo {
    max-width: 250px;
	max-height: 35px;
    width: 50%;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Main */

/* Setting the grid */
.dashboard-API {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 15px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    padding-top: 30px;
}

/* Applying the grid */
.data-info {
    grid-column: 1 / span 12;
}

section {
    background-color:rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#search-box {
    width: 80%;
    position: relative;
    display: block;
    margin : 0 auto;
    margin-top: 5px;
    padding: 6px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #C2C8CC;

    font-size: 16px;
    color: var(--secondary);
	text-align: center;
}



/* The breakpoints */

/* Intermediate version of mobile and tablet (450px) */
@media (min-width: 450px) {
    .dashboard-API {
        grid-row-gap: 20px;
    }

    section {
        padding: 13px;
    }
}

/* Tablet version (768px) */
@media (min-width: 768px) {
    .dashboard-API {
        grid-gap: 30px;
    }

    section {
        padding: 20px;
    }
}

/* Laptop version (1024px) */
@media (min-width: 1024px) {
    .dashboard-API {
        grid-gap: 35px;
    }
}

/* Bigger laptop version (1280px) */
@media (min-width: 1280PX) {
    section {
        padding: 30px;
    }
}

/* Intermediate version of laptop and desktop (1680px) */
@media (min-width: 1680PX) {

}

/* Desktop version (1920px) */
@media (min-width: 1920PX) {
    .dashboard-API {
        grid-gap: 45px;
        margin-left: auto;
		margin-right: auto;
		max-width: 2560px;
    }

    section {
        padding: 45px;
    }
}